{% extends 'base.html.twig' %}

{% block title %}TypeOfCompany index{% endblock %}

{% block body %}
{{ parent() }}
<div class="container">
    <h1 class="text-center mb-3">TypeOfCompany index</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_of_company in type_of_companies %}
            <tr>
                <td>{{ type_of_company.id }}</td>
                <td>{{ type_of_company.type }}</td>
                <td>
                    <a href="{{ path('app_type_of_company_show', {'id': type_of_company.id}) }}" class="btn btn-outline-light ">show</a>
                    <a href="{{ path('app_type_of_company_edit', {'id': type_of_company.id}) }}" class="btn btn-outline-success ">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_of_company_new') }}" class="btn btn-success ">Create new</a>
</div>    
{% endblock %}
