{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-3" >Employee : {{ employee.firstName }} {{ employee.lastName }} </h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}" class="btn btn-outline-dark">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-success ">edit</a>
    <h2 class="text-center mb-3" >List of contracts</h2>
    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Starting date</th>
                <th>end date</th>
                <th>Company</th>
            </tr>
            {% for contract in employee.contracts %}
                <tr>
                    <td>{{ contract.id }}</td>
                    <td>{{ contract.startingDate ? contract.startingDate|date('Y-m-d') : ''}}</td>
                    <td>{{ contract.endDate ? contract.endDate|date('Y-m-d') : ''}}</td>
                    <td>{{ contract.company.name }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    {{ include('employee/_delete_form.html.twig') }}
</div>
{% endblock %}
