{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>FondationDate</th>
                <td>{{ company.fondationDate ? company.fondationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsClosed</th>
                <td>{{ company.isClosed ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_index') }}">back to list</a>

    <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>starting date</th>
                <th>end date</th>
            </tr>
            {% for company in company.contract %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.employee.lastName}} {{ company.employee.firstName}}</td>
                    <td>{{ company.startingDate ? company.startingDate|date('Y-m-d') : ''}}</td>
                    <td>{{ company.endDate ? company.endDate|date('Y-m-d') : ''}}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
